.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 12px;
	/* padding: 16px 24px; */
	background: #fdfeff;
	color: #303030;
}

.title {
	font-size: 140%;
}

.item {
	margin: 0px 12px;
	/* margin-left: 24px; */
}

/*
.active {
	font-size: 140%;
}
*/

@media all and (max-width: 800px) {
	.navbar {
		justify-content: space-around;
	}

	.name {
		display: none;
	}
}
